<div class="social">
  <a class="face_login" href="#">
    <span class="face_icon">
      <%= image_tag image_path('admin/images/facebook.png') %>
    </span>
    <span class="text">Sign in with Facebook</span>
  </a>
  <div class="division">
    <hr class="left">
    <span>or</span>
    <hr class="right">
  </div>
</div>
