<div class="col-md-10">
  <%= render_box_header(@products, title: 'List products', button: 'Add new', icon: 'plus') %>

  <div class="content-box-large box-with-header">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>SYSID</th>
          <th>Code</th>
          <th>Name</th>
          <th>Price</th>
          <th>Available on</th>
          <th>Discontinue on</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'product', collection: @products %>
      </tbody>
    </table>
  </div>
</div>
