<div class="col-md-5">
   <div class="row">
     <div class="col-lg-12">
       <div class="input-group form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Search</button>
            </span>
       </div>
     </div>
   </div>
</div>
