<% provide :submit_text, 'Update account' %>

<div class="col-md-10">
  <div class="content-box-header">
    <div class="panel-title">Edit user</div>
  </div>
  <div class="content-box-large box-with-header">
    <%= render 'form' %>
  </div>
</div>
