<% provide :submit_text, 'Create account' %>

<div class="col-md-6">
  <%= render_box_header(@user, title: 'Add new user') %>

  <div class="content-box-large box-with-header">
    <%= render 'form' %>
  </div>
</div>
