<div class="header">
   <div class="container">
      <div class="row">
         <div class="col-md-5">
            <!-- Logo -->
            <div class="logo">
               <h1><a href="index.html">Bootstrap Admin Theme</a></h1>
            </div>
         </div>
         <%= render partial: 'admin/component/search' %>
         <%= render partial: 'admin/component/my_account' %>
      </div>
   </div>
</div>
